html {
  scroll-behavior: smooth;
}

body {
  background: #240a35;
  font-family: "Candara", "Open Sans", sans-serif;
  font-size:16px;
  color: white;
  margin: 0;
  }
  
a {
    color: #0783b9;
  }
  
/*Everything in the main box goes in this*/
.wrapper {
  width: 750px;
  border: 3px solid black;
  margin: 0 auto; 
  top: 0px;
  }
  



 /*If you want to use a smaller title or normal text, add .header p or .header h4 or whatever to the list*/
/* .header h2, .header h3, .header h1 {
  font-weight: bold;
  color: white;
  text-align: center;
  border: 0px solid green;
  margin: 18% auto; /*approx centered
  opacity: 0.999999;
} */

.links {
  background: black;
  padding: 10px;
  border-bottom: 3px solid black;
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: end;
  }
  
.links a {
  color: #dd8fdd;
  padding: 3px;
  margin-left: 5px;
  margin-right:5px;
  text-decoration: none;
  font-size:17px;
  }

  .links a:hover, .links a.active {
  text-shadow: 0 0 2px #e9aae9;
	color: #f9d8f9
  }

  .lamp {
    width: 100px;
    height: 100px;  
    background: url("AleniciaWebLamp-Half3.png") no-repeat center center;
    background-size: contain;
  }

  #home {
    display: block;
    width: 100px;
    height: 70px;  
    background: url("AleniciaWebBanner-Home-Half.png") no-repeat center center;
    background-size: contain;
  }

  #gallery {
    display: block;
    width: 100px;
    height: 70px;  
    background: url("AleniciaWebBanner-Art-Half.png") no-repeat center center;
    background-size: contain;
  }

  #about {
    display: block;
    width: 100px;
    height: 70px;  
    background: url("AleniciaWebBanner-About-Half.png") no-repeat center center;
    background-size: contain;
  }

  #links {
    display: block;
    width: 100px;
    height: 70px;  
    background: url("AleniciaWebBanner-Home-Half.png") no-repeat center center;
    background-size: contain;
  }


.main {
  padding: 15px;
  margin: 0 auto;
  background: #4c354c;
  }
  
/*Prevent overflow of large images in main text areas.*/
.main img {
  max-width: 100%;
  height: auto;
  }

.content {
  padding: 15px;
  margin: 50px auto;
  background: #3b2a3b;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 500px; /*Temporary, for testing*/
  }

.header {
  height: 300px;
  border-bottom: 3px solid black;
  margin: 0 auto;
  overflow: hidden;
  background-color: pink;
  /* background: linear-gradient(rgba(255, 213, 149, 0.3),rgba(12, 0, 44, 0.5)), url("header.jpg"); */
  background-size:cover;
  background-position: center;
  }

  .gallery {
	height: 1000px;

  }

  .about {
	height: 800px;	

  }
  
.footer {
  background: black;
  padding: 20px;
  padding-top:5px;
  padding-bottom:5px;
  border-top: 3px solid black;
  font-size:14px;
  }
  

  .avatar {
	width: 100px;
	height: 100px;
	background: url("AleniciaWebAlenicia-Half.png") no-repeat center center;
	position: fixed;
	background-size: contain;
	bottom: 0;
	right: 10px;
	z-index: 100;
  }  
/*For narrow screens*/
@media(max-width: 790px) {
  .wrapper {
    width: 95%;
    }
  .header h1, .header h2, .header h3 { /*Vertical centering gets wonky when the box is variable width*/
    margin: 20% 5% auto;
    }
  }  

/*Mobile compatibility*/
@media(orientation: portrait) {
  .wrapper {
    width: 95%;}
  .header {
    height:230px;
    }
  .header h1, .header h2, .header h3 {
    margin: 20% 3% auto;
    }
  }


  /* animation */


  .content {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}
.content.visible {
  opacity: 1;
  transform: translateY(0);
}