html, body {
  scroll-behavior: smooth;
  background: url("2025-10-02-AleniciaWeb-Background-Ha.jpg") no-repeat fixed center;
  background-size: 120%;
  background-color: #111;

}

body {
  font-family: "Candara", "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  margin: 0;
  background: transparent;
  }
 
/*Everything in the main box goes in this*/
.wrapper {
  width: 750px;
  margin: 0 auto; 
  top: 0px;
  }
  
.links {
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: end;
  }
  
.links a {
  padding: 3px;
  margin-left: 5px;
  margin-right:5px;
  text-decoration: none;
  font-size:17px;
  }

  .links a:hover, .links a.active {
  text-shadow: 0 0 2px #e9aae9;
	color: #f9d8f9
  }

  .lamp {
    width: 100px;
    height: 100px;  
    background: url("AleniciaWebLamp-Half3.png") no-repeat center center;
    background-size: contain;
  }

  #home {
    display: block;
    width: 100px;
    height: 70px;  
    background: url("AleniciaWebBanner-Home-Half.png") no-repeat center center;
    background-size: contain;
  }

  #art {
    display: block;
    width: 100px;
    height: 70px;  
    background: url("AleniciaWebBanner-Art-Half.png") no-repeat center center;
    background-size: contain;
  }

  #about {
    display: block;
    width: 100px;
    height: 70px;  
    background: url("AleniciaWebBanner-About-Half.png") no-repeat center center;
    background-size: contain;
  }

  #links {
    display: block;
    width: 100px;
    height: 70px;  
    background: url("AleniciaWebBanner-Home-Half.png") no-repeat center center;
    background-size: contain;
  }

.content {
  padding: 15px;
  margin: 10px 75px 20px;
  background: #2a3b31;
  border: 15px solid #392e16;
  height: 300px; /*Temporary, for testing*/
  }

  .content-wrapper {
    position: relative;
  }

  .sideboard {
    width: 100px;
    height: 100px;
    background: url("AleniciaWeb-BoardSmallClear-Half180px.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    left: -50px;
    top: 200px;
  }

  
  .avatar {
    width: 200px;
    height: 200px;
    background: url("AleniciaWebAlenicia-Half.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    bottom: 130px;
    right: 20px;
  }  

  .table {
    width: 100%;
    height: 200px;
    background: url("AleniciaWebBarTable-Half.png") no-repeat center center;
    background-size: contain;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 100;
  }  

  
.footer {
  background: black;
  padding: 5px 20px;
  font-size: 14px;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  }



/*For narrow screens*/
@media(max-width: 790px) {
  .wrapper {
    width: 95%;
    }
  .header h1, .header h2, .header h3 { /*Vertical centering gets wonky when the box is variable width*/
    margin: 20% 5% auto;
    }
  }  

/*Mobile compatibility*/
@media(orientation: portrait) {
  .wrapper {
    width: 95%;}
  .header {
    height:230px;
    }
  .header h1, .header h2, .header h3 {
    margin: 20% 3% auto;
    }
  }

